<mat-toolbar color="primary" class="mb-16">Creditoo - Frontend test</mat-toolbar>

<div class="container smaller-limited-container">
  <mat-card class="w-100p">
    <div class="row">
      <div class="column">
        <mat-form-field class="w-100p mat-form-field-only-child">
          <input matInput placeholder="Usuário" [(ngModel)]="userSearch">
        </mat-form-field>
      </div>
      <div class="column column-static">
        <button mat-button color="primary" (click)="getInformations()" [disabled]="userIsLoading">Procurar</button>
      </div>
    </div>
  </mat-card>
</div>

<section class="container limited-container" *ngIf="this.user">
  <div class="column">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="Usuário">
          <mat-spinner *ngIf="!user || userIsLoading"></mat-spinner>
          <div *ngIf="user || !userIsLoading" >
            <div class="row">
              <div class="column column-x4">
                <div class="row">
                  <div class="column column-x4">
                    <img [src]="this.user.avatar_url" alt="Avatar do usuário">
                  </div>
                  <div class="column column-x8">
                    <mat-card-title><a href="https://github.com/{{ this.user.login }}">{{ this.user.name }}</a></mat-card-title>
                    <mat-card-subtitle>{{ this.user.login }} - Desde {{ this.user.created_at | date: "dd/MM/yyyy" }}</mat-card-subtitle>
                    <mat-card-content>
                      <p><b>Biografia:</b> {{ this.user.bio }}</p>
                      <p><b>Localidade:</b> {{ this.user.location }}</p>
                    </mat-card-content>
                  </div>
                </div>
              </div>

              <div class="column column-x8">
                <mat-card-title>Repositórios</mat-card-title>
                <mat-spinner *ngIf="!repositoryList || repositoryListIsLoading"></mat-spinner>
                <mat-list>
                  <ng-container *ngFor="let repository of repositoryList; let last = last">
                    <mat-list-item>
                      <a href="https://github.com/{{userSearch}}/{{ repository.name }}" target="_blank">
                        {{ repository.name }}
                      </a>
                    </mat-list-item>
                    <mat-divider inset="true" *ngIf="!last"></mat-divider>
                  </ng-container>
                </mat-list>
              </div>
            </div>
          </div>
        </mat-tab>
        
        <!-- <mat-tab label="Seguindo">Seguindo</mat-tab> -->

      </mat-tab-group>
    </mat-card>
  </div>
</section>