/* You can add global styles to this file, and also import other style files */

@import './styles/variables.sass'
@import './styles/normalize.sass'
@import './styles/materialize-changes.sass'

.container
  display: flex
  padding: 0 $defaultSpacing
  margin: 0 auto $defaultSpacing

.row
  display: flex
  flex-wrap: wrap
  margin: 0 (-$defaultSpacing/2)

.limited-container
  max-width: 1280px

.smaller-limited-container
  max-width: 640px

.column
  flex: 1
  padding: 0 $defaultSpacing/2

.column-static
  flex: 0

@for $i from 1 through 12
  .column-x#{$i}
    flex-basis: percentage(1 / 12 * $i)

@import './styles/utils.sass'